$text_gray: #777E90;
$text_black: #23262F;

$input_background: #F4F5F6;
$input_checkbox: #BFBFBFFF;
$checkbox_green: #06B966;

$button_disabled: #B8BABF;

$black: #000000;
$red: #D11A2A;
$white: #FFFFFF;
